* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --colorwhite: #fff;
  --bgcolor: #ebf0f3;
  --colorgrey:#b0b0b0;
  --colorpink: #FF519F;
  --colorblack: #000;
}
